<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.flyingcursor.calmpaws" versionCode = "12" version = "1.1">


    <name>CalmPaws</name>

    <description>
        #CalmPaws is an initiative by Flying Cursor Interactive.
        We are a digital agency with an office dog, Pixel.
        And Pixel loves biscuits and hates crackers.!
    </description>

    <author href="http://www.sushil-s.com/" email="sushil.sud@gmail.com">Sushil Sudhakaran</author>

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="fullscreen" value="true" />

    <access origin="*"/>
    <content src="index.html" />
    

    <gap:platform name="android" />
    <gap:platform name="ios" />

    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    
    <gap:splash src="images/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="images/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
   
    <icon src="images/icon.png" />
    
       

</widget>
