<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.flyingcursor.calmpaws" versionCode = "10" version = "1.0.0">


    <name>CalmPaws</name>

    <description>Calm your Pets!</description>

    <author href="http://www.sushil-s.com/" email="sushil.sud@gmail.com">Sushil Sudhakaran</author>

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="fullscreen" value="true" />

    <access origin="*"/>
    <content src="index.html" />
    

    <gap:platform name="android" />
    <gap:platform name="ios" />

    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    
    <gap:splash src="images/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="images/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="images/SS-320x480.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="images/SS-640x960.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="images/SS-640x1136.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="images/SS-768x1004.png" gap:platform="ios" width="768" height="1004" />
    <gap:splash src="images/SS-1536x2008.png" gap:platform="ios" width="1536" height="2008" />
    
    <icon src="images/icon.png" />
    
       

</widget>
